$yellow: #F8ED31
$green: #99cc33
$pink: #EC008B
$blue: #00ADEF
$transparent: rgba(0, 0, 0, 0.75)
$fallback: rgb(49, 49, 49)


.button
	// background: #EC008B //pink
	border-radius: 5px
	// border: 1px solid white
	// color: orange
	// box-shadow: 2px 3px 3px white
	color: #000000
	cursor: pointer
	display: inline-block
	font-size: 1.6em
	// font-weight: 700
	letter-spacing: 1px
	padding: 10px
	text-align: center
	text-decoration: none
	vertical-align: middle
	width: 12.8em
	// box-shadow: 1px 2px 1px white

	// text-shadow: 1px 1px #000000

	&:hover
		color: white
		// box-shadow: 1px 2px 1px white
		position: relative
		left: 1px
		top: 1px

article.leader, article.child
	a
		display: block


article.sidebar-item, article.leader, article.child
	margin: 1em auto
	clear: left
	
	
	$n: 0

	@each $color in $pink, $yellow, $blue, $green

		$n: $n+1

		&:nth-child(#{$n})

			a.button
				background-color: $color
				// border: 1px solid darken($color, 20%)
				box-shadow: 2px 3px 1px darken($color, 25%)

				@if $n % 2 == 1

					color: #ffffff

					&:hover
						color: #000000
				
				&:hover
					box-shadow: 1px 2px 1px darken($color, 25%)
					position: relative
					left: 1px
					top: 1px