.button
	background: url(resources/page_locator.png) center no-repeat
	// border-radius: 3px
	// box-shadow: 2px 3px 1px #a75312
	color: #ffffff
	cursor: pointer
	display: inline-block
	font-size: 1.6em
	font-weight: 300
	letter-spacing: 1px
	padding: 10px
	text-align: center
	text-decoration: none
	vertical-align: middle
	// width: 6em

	&:hover
		// box-shadow: 1px 2px 1px #a75312
		position: relative
		left: 1px
		top: 1px