.page-contact

	.content-area
		background: url(resources/banner1.png) no-repeat
		background-size: 100% 
		background-position: top
		
		.main
			background: rgba(0, 0, 0, 0.75)
			border-radius: 20px
			padding: 1em