nav.main-menu

	display: block
	max-width: 1000px
	margin: auto
	
	a
		display: block
		text-decoration: none
		padding: 0.5em 0 0.5em 0
	

nav.main-menu.full ul

	display: block
	

nav.main-menu.compact ul

	display: none
	width: 100%
	
	li
		display: block


.screen-reader-text, .compact-menu
	display: none